<% breadcrumb :life_titles %>
<div class='all'>
    <span class='question'>
    命とはなにか
    </span>

  <div class='topic'>
  命（いのち）は、多様で奥深い意味を持つ概念であり、<br>
  生物の生きる力や期間、生きていく大もとの外に現れる働きのもと。<br>
  「唯一のよりどころとなる、最も大切なもの」という象徴的な意味もある<br>
  （例：このラーメンはスープが命だ）。<br>
  人間の命は特に人命と呼ばれることがあり、<br>
  人命は第一に守られるべき（最も尊ばれるべき）であるという社会的通念がある。<br>
  （wikipedia）</p><br>
    
  生物が生きていくためのもとの力となるもの。生命。<br>
  生きている間。生涯。一生。寿命。<br>
  最も大切なもの。唯一のよりどころ。そのものの真髄。<br>
  運命。天命。<br>
  （goo辞書）</p><br>
  
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/life_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, life_title_life_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
