<% breadcrumb :money_titles %>
<div class='all'>
    <span class='question'>
    お金とはなにか
    </span>

  <div class='topic'>
  現代の日本においてお金（おかね）は、次の事象を指しうる。<br>
  通貨<br>
  貨幣<br>
  （wikipedia）</p><br>
  貨幣。金銭。また、財産。<br>
  （goo辞書）</p><br>
  ピンチの時に助けに来てくれないヒーロー。<br>
  稼いだ額より、その使い道で人間の善し悪しが判断されるもの。<br>
  派手に使うと笑われる。貯め込んでも笑われる。十分に持ってないと、余計笑われるもの。<br>
  人々の幸せをつくり、人々の争いをつくるもの。<br>
  みんな一番ほしがるけど、一番大切なものとは替えられない紙きれや金属片。<br>
  貸し借りに失敗すると、友達と信用と未来を失いがちなもの。<br>
  額に汗して作るもの。だが、本当に造ってしまうと犯罪。<br>
  （goo辞書　補説）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/money_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, money_title_money_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
