<% breadcrumb :love_titles %>
<div class='all'>
    <span class='question'>
    愛とはなにか
    </span>

  <div class='topic'>
  親兄弟のいつくしみあう心。ひろく、人間や生物への思いやり。<br>
  男女間の愛情。恋愛。<br>
  大切にすること。かわいがること。めでること。<br>
  （wikipedia）</p><br>
    
  親子・兄弟などがいつくしみ合う気持ち。<br>
  また、生あるものをかわいがり大事にする気持ち。<br>
  （性愛の対象として）特定の人をいとしいと思う心。互いに相手を慕う情。恋。<br>
   ある物事を好み、大切に思う気持ち。<br>
   個人的な感情を超越した、幸せを願う深く温かい心。<br>
  （goo辞書）</p><br>
    
  ケーキに書き込むメッセージを注文しているときの感情。<br>
  ほんまにあかん人やなぁ…と思いながらも見守りたい、<br>
  生きる助けになりたいと思う気持ち。人である原点。<br>
  二人なのに一人のような感じ。心のコタツ。<br>
  人を天国にも地獄にも突き落とす制御不能な感情。<br>
  若者は肌を重ね、年配者は言葉を重ねる。<br>
  不自由になることが自然と我慢できる状態。<br>
  相手の痛みを自分の痛みのように感じられる瞬間。<br>
  「独占欲」を綺麗な言葉で言い換えたもの。<br>
  絶え間ない努力の結晶。<br>
  未だ科学では解明されていないエネルギーの一種。<br>
  行動力、思考力、及び幸福感に変換可能。<br>
  恋では補えないもの。感情に勝る思い。距離や時間を隔てても朽ちないもの。<br>
  目に見えずかけがえのないもの。<br>
  知らず知らずのうち育ち、壊れるはかない存在のため、多くの人が見ようと努力するもの。<br>
  無条件に受け入れられる、存在そのもの。<br>
  （goo辞書　補説）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/love_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, love_title_love_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
