<% breadcrumb :philosophy %>
<div class='all'>
    <span class='question-philosophy'>
    哲学とはなんだろう
    </span>
    <div class="message">我思う故に我あり！</div>

  <div class='topic'>
  難しい学問？<br>
  役立たない？<br>
  意味がない？<br>
  理解不可能？<br>
  興味がない？<br>
  時間の無駄？<br>
  関係ない話？<br>
  暇人の仕事？<br>
  面倒臭い話？<br>
  宗教みたい？<br>
  堅苦しい話？<br>
  <span class='question-philosophy'>もし</span><br>
  意外に難しくなくて<br>
  意外にも役に立って<br>
  意外にとても重要で<br>
  意外にわかり易くて<br>
  意外におもしろくて<br>
  意外に有意義な事で<br>
  意外に日常で使えて<br>
  意外に誰もが考えて<br>
  意外に大切な何かで<br>
  意外に宗教でなくて<br>
  意外に身近に感じる<br>
<br>
  ”もしかしたら”<br>
  <br>
  思考力が変化して
  価値観も変わって
  人間関係も変化して
  自分の事をより知る事ができて
  生きる意味を見出せたつもりになったり
  自分や他人の人生にも良い影響を及ぼしたり
  この世の全てを悟ったつもりになったりできるかもしれないそんな

  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/themes/index">哲学してみる</a>
  </div><br>
  <br>
  哲学は、原義的には「愛知」を意味する学問活動である。<br>
  これに従事する人物は哲学者と呼ばれる。<br>
  時代や文脈によって派生的に複数の意味をもつ曖昧な語である。<br>
  （wikipedia）</p><br>
  
  世界・人生などの根本原理を追求する学問。<br>
  古代ギリシャでは学問一般として自然を含む多くの対象を包括していたが、<br>
  のち諸学が分化・独立することによって、その対象領域が限定されていった。<br>
  しかし、知識の体系としての諸学の根底をなすという性格は常に失われない。<br>
  認識論・論理学・存在論・倫理学・美学などの領域を含む。<br>
  各人の経験に基づく人生観や世界観。また、物事を統一的に把握する理念。<br>
  （goo辞書）</p><br>
</div>