  <% breadcrumb :themes %>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/liberty_titles'>自由</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/occupation_titles'>仕事</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>お金</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>幸せ</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>人間</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>運</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>死</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>病気</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>感情</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>成功</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>愛</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>人生</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>命</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>価値観</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/'>希望</a>
      </span>
    </div>
  </div>
