  <% breadcrumb :themes %>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/liberty_titles'>自由</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/occupation_titles'>仕事</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/money_titles'>お金</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/happiness_titles'>幸せ</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/human_titles'>人間</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/fortune_titles'>運</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/death_titles'>死</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/illness_titles'>病気</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/emotion_titles'>感情</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/success_titles'>成功</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/love_titles'>愛</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/lifestyle_titles'>人生</a>
      </span>
    </div>
  </div>
  <div class='line'>
    <div class='block'>
      <span class='top_str'>
        <a href='/life_titles'>命</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/values_titles'>価値観</a>
      </span>
    </div>
    <div class='block'>
      <span class='top_str'>
        <a href='/hope_titles'>希望</a>
      </span>
    </div>
  </div>
