<% breadcrumb :liberty_titles %>
<div class='all'>
    <span class='question'>
    自由とはなにか
    </span>
    <div class="message">我思う故に我あり！</div>

  <div class='topic'>
    <p>他からの強制・拘束・支配などを受けないで、<br>自らの意思や本性に従っていること。 哲学用語。<br>
    （google先生・wikipedia）</p><br>
    <p>自分の意のままに振る舞うことができること。また、そのさま。勝手気ままなこと。<br>わがまま。哲学で、消極的には他から強制・拘束・妨害などを受けないこと。<br>積極的には自主的、主体的に自己自身の本性に従うこと。<br>つまり、「…からの自由」と「…への自由」をさす。<br>
    法律の範囲内で許容される随意の行為。<br>
    （goo辞書）</p><br>
    <p>仕事が終わった後の居酒屋で待っているもの。<br>
    眠くなったら寝て、目覚めた時にベッドから出る生活。<br>
    様々なことに対し選択する権利があること。<br>
    「支配からの離脱」のために勝ち取るべきもの。<br>
    「自分勝手」と誤用されやすい。<br>
    法律に抵触せず、人に迷惑がかからない範囲であれば何でもしていい状況。<br>
    考える時間とそれを実行出来る金銭的余裕がある事。世界とのしがらみが少ないこと。<br>
    好きな時に好きな場所へ行けること。好きな時に会いたい人に会えること。<br>
    （goo辞書　補説）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/liberty_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, liberty_title_liberty_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
