<% breadcrumb :death_titles %>
<div class='all'>
    <span class='question'>
    死とはなにか
    </span>

  <div class='topic'>
  死とは、命がなくなること。<br>
  生命がなくなること。生命が存在しない状態。<br>
  機能を果たさないこと、役に立たないこと。<br>
  ただし、何をもって人間の死とするのか、<br>
  その判定や定義は文化、時代、分野などにより様々である。<br>
  （wikipedia）</p><br>
    
  生命がなくなること。死ぬこと。また、生命が存在しないこと。<br>
  律の五刑の一。絞 (こう) と斬 (ざん) の2種があった。<br>
  （goo辞書）</p><br>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/death_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, death_title_death_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
