<% breadcrumb :lifestyle_titles %>
<div class='all'>
    <span class='question'>
    人生とはなにか
    </span>

  <div class='topic'>
  人生とは、人間がこの世で生きることや、生きている時間、経験などのこと。<br>
  人生に対する見方や、人生の意味の理解のしかたを人生観という。<br>
  （wikipedia）</p><br>
    
  人がこの世で生きていくこと。また、その生活。<br>
  人の、この世に生きている間。人の一生。生涯。<br>
  （goo辞書）</p><br>
    
  やり直したいと言う声が多い割に、結構多くの人が満足して終える不思議な旅。<br>
  なんて不公平なんだろう…って思うけど、それなりに楽しいこともしあわせな事もある。<br>
  本人しだいで、変わるもの。<br>
  なんで生まれてきたのかを探す旅。<br>
  リセットのできないオリジナルのRPG（ロールプレイングゲーム）。<br>
  笑い皺をつくること。<br>
  全ての人間に与えられた試練。ただし必ずしも試練は平等では無い。<br>
  神様から借りてきたもの。だから全うするまで頑張らなければならない。<br>
  たくさんの道、まっすぐでも曲がってもいる。山もあれば、谷も、川もある。行先も違う。<br>
  自らが主人公である物語。しかしそのように感じられない人も多い、少し切ない物語。<br>
  死ぬまでに与えられた時間。<br>
  気付いたら始まっている、とてつもなく長い成長の旅。<br>
  家族や親友との出会いの場。<br>
  選択し決断を繰り返してきた足跡。<br>
  振り返ることはできるが戻ることはできない。<br>
  （goo辞書　補説）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/lifestyle_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, lifestyle_title_lifestyle_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
