<% breadcrumb :values_titles %>
<div class='all'>
    <span class='question'>
    価値観とはなにか
    </span>

  <div class='topic'>
  
  価値観とは、何に価値があると認めるかに関する考え方。<br>
  価値(善・悪、好ましいこと・好ましくないこと、といった価値)を<br>
  判断するときの根底となるものの見方。<br>
  ものごとを評価・判断するときに基準とする、<br>
  何にどういう価値がある(何には価値がない)、という判断。<br>
  （wikipedia）</p><br>
    
  物事を評価する際に基準とする、何にどういう価値を認めるかという判断。<br>
  （goo辞書）</p><br>
  
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/values_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, values_title_values_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
