<div class='top'>

  <div class='title_top'>
    <span>IT</span>
    <div class='blank'>
    </div>
    <span class='✕'>✕</span>
  </div>

  <div>
   <span><a href=/themes/index>哲学</a></span>
  </div>
  
</div>
