<div class='top'>
  <div class='toppage_title'>
  <span>IT</span>
  <div class='blank'>
  </div>
  <span class='✕'>✕</span>
  </div>
  <div class='toppage_title'>
  <span class='pfhilo'><a href=chrome://newtab>哲学</a></span>
  </div>
</div>