<% breadcrumb :occupation_titles %>
<div class='all'>
    <span class='question'>
    仕事とはなにか
    </span>

  <div class='topic'>

    職業<br>
    労働<br>
    仕事 (物理学) - 物理学における物理量。<br>
    仕事 (熱力学) - 熱力学における力学的なエネルギー。<br>
    仕事 (電気) - 電場中の電荷がする仕事。<br>
    電力量 - 電気回路における電気エネルギー。<br>
    仕事 (企業) - 日本の芸能事務所。株式会社仕事。旧俳優座映画放送。<br>
    （wikipedia）</p><br>

    何かを作り出す、または、成し遂げるための行動。<br>
    生計を立てる手段として従事する事柄。職業。<br>
    したこと。行動の結果。業績。<br>
    悪事をしたり、たくらんだりすること。しわざ。所業。<br>
    《「針仕事」の略》縫い物。裁縫。<br>
    力学で、物体が外力の作用で移動したときの、移動方向への力の成分と移動距離との積。<br>単位はエネルギーの単位ジュール、その他ワット秒・ワット時など。<br>
    （goo辞書）</p><br>
    
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/occupation_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, occupation_title_occupation_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
