<% breadcrumb :hope_titles %>
<div class='all'>
    <span class='question'>
    希望とはなにか
    </span>

  <div class='topic'>
  
  希望とは、好ましい事物の実現を望むこと。<br>
  または、その望み。「冀望（きぼう）」とも書く。<br>
  （wikipedia）</p><br>
    
  あることの実現をのぞみ願うこと。また、その願い。<br>
  将来に対する期待。また、明るい見通し。<br>
  （goo辞書）</p><br>

  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/hope_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, hope_title_hope_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
