<% breadcrumb :fortune_titles %>
<div class='all'>
    <span class='question'>
    運とはなにか
    </span>

  <div class='topic'>
  運とは、その人の意思や努力ではどうしようもない巡り合わせを指す。<br>
  （wikipedia）</p><br>
  人の身の上にめぐりくる幸・不幸を支配する、人間の意志を超越したはたらき。<br>
  天命。運命。<br>
  よいめぐりあわせ。幸運。<br>
  （goo辞書）</p><br>
  運命、運勢、命運、天運、天命<br>
  （goo辞書　類語）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/fortune_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, fortune_title_fortune_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
