<% breadcrumb :happiness_titles %>
<div class='all'>
    <span class='question'>
    幸せとはなにか
    </span>

  <div class='topic'>
  心が満ち足りていること。幸福。<br>
  （wikipedia）</p><br>
    
  運がよいこと。また、そのさま。幸福。幸運。<br>
  その人にとって望ましいこと。不満がないこと。また、そのさま。幸福。幸い。<br>
  めぐり合わせ。運命。<br>
  運がよくなること。うまい具合にいくこと。<br>
  物事のやり方。また、事の次第。<br>
  （goo辞書）</p><br>
  「なるもの」ではなく「気づくもの」。<br>
  生まれてきて良かったと思うこと。<br>
  「ずっとこのままでいたい」と思える瞬間。<br>
  イライラしたり疲れたりしているときに癒してくれるもの。<br>
  また、自分がやりたいことをできる状態。<br>
  （goo辞書　補説）</p>
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/happiness_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, happiness_title_happiness_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
