<% breadcrumb :emotion_titles %>
<div class='all'>
    <span class='question'>
    感情とはなにか
    </span>

  <div class='topic'>
  感情とは、ヒトなどの動物がものごとや対象に対して抱く気持ちのこと。<br>
  喜び、悲しみ、怒り、諦め、驚き、嫌悪、恐怖などがある。<br>
  （wikipedia）</p><br>
    
  物事に感じて起こる気持ち。<br>
  外界の刺激の感覚や観念によって引き起こされる、ある対象に対する態度や価値づけ。<br>
  快・不快、好き・嫌い、恐怖、怒りなど。<br>
  （goo辞書）</p><br>
  
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/emotion_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, emotion_title_emotion_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
