<% breadcrumb :human_titles %>
<div class='all'>
    <span class='question'>
    人間とはなにか
    </span>

  <div class='topic'>

  人間とは、以下の概念を指す。<br>
  人のすむところ。世の中。世間。人が生きている人と人の関係の世界。<br>
  またそうした人間社会の中で脆くはかないさまを概念的に表すことば。<br>
  （社会的なありかた、人格を中心にとらえた）人。また、その全体。<br>
  ひとがら。「人物」。<br>
  （wikipedia）</p><br>
  
  ひと。人類。<br>
  ある特定の個人。ひと。<br>
  人柄。また、人格。人物。<br>
  人の住む世界。人間界。世の中。じんかん。<br>
  （goo辞書）</p><br>
    
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/human_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, human_title_human_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
