/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  padding: 1vmin 0;
  font-size: 3vmin;
}

.left-bar {
  width: 67%;
}

.right-bar {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.lists-right {
  display: flex;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page-margin {
  width: 50px;
  height: 30px;
}
