// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-title {
  font-size: 30px;
}

.zone {
  display: flex;
}

.even-left-zone {
  width: 30vw;
}
.even-right-zone {
  width: 70vw;
}

.odd-left-zone {
  width: 70vw;
}
.odd-right-zone {
  width: 30vw;
}

.form-comment {
  width: 80vw;
}

.form-submit {
  width: 80vw;
}

.comme {
  font-size: 30px;
  border: thick double #32a1ce;
  border-radius: 50% 20% / 10% 40%;
  padding: 15px;
  margin: 5px;
}

.left-comme {
  font-size: 25px;
  border: forestgreen;
  border-style: dotted;
  border-radius: 10% 30% 50% 70%;
  padding: 0 0 15px 15px;
  margin: 5px;
}

.user {
  font-size: 25px;
  text-align: right;
}

.time {
  font-size: 20px;
  text-align: right;
}

.left-user {
  font-size: 25px;
  text-align: left;
}

.left-time {
  font-size: 20px;
  text-align: left;
}

.form-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}