// Place all the styles related to the liberty_titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all {
  text-align: center;
  align-items: center;
}

.question {
  font-size: 12vmin;
  text-align: center;
}

.topic {
  font-size: 2vmin;
  margin: 0 auto;
  text-align: center;
}

.teach {
  font-size: 7vmin;
}

.title-title {
  font-size: 3vmin;
}

.create-title a {
  border: 1px solid lightblue;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.create-title {
  margin: 15px 0 0 15px;
}

.new-title-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_area {
  width: 400px;
}

.title_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0px auto;
}