// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  height: 80vh;
  font-size: 25vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank {
  width: 30px;
}

.✕ {
  font-size: 20vmin;
  margin-top: 2vmax;
  animation-name: move-r;
  animation-duration: 20s;
  // animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.f {
  font-size: 33vmin;
  padding-bottom: 2vmax;
  text-decoration: none;
}

.I {
  margin-top: 2vmax;
}

@keyframes move-r {
  100% {
    transform: rotate(360deg);
  }
}