// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  height: 100vh;
  font-size: 32vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank {
  width: 50px;
}

.✕ {
  font-size: 28vmin;
}
