// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  // display: flex;
  // align-items: center;
  font-size: 300px;
}

.toppage_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank {
  width: 90px;
}

.✕ {
  font-size: 240px;
}

.pfhilo {
  text-decoration: none;
}