<% breadcrumb :illness_titles %>
<div class='all'>
    <span class='question'>
    病気とはなにか
    </span>

  <div class='topic'>
  
  病気、病（やまい）は、人間や動物の心や体に不調または不都合が生じた状態のこと。<br>
  一般的に外傷などは含まれない。<br>
  （wikipedia）</p><br>

  生体がその形態や生理・精神機能に障害を起こし、苦痛や不快感を伴い、<br>
  健康な日常生活を営めない状態。医療の対象。疾病 (しっぺい) 。やまい。<br>
  悪い癖や行状。<br>
  （goo辞書）</p><br>

  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/illness_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, illness_title_illness_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
