<% breadcrumb :success_titles %>
<div class='all'>
    <span class='question'>
    成功とはなにか
    </span>

  <div class='topic'>

  成功は、計画などがうまくいき目標が達成できたことや、<br>
  社会的に一定以上の地位を得たことを指す。失敗の対義。<br>
  （wikipedia）</p><br>
    
  物事を目的どおりに成し遂げること。<br>
  物事をうまく成し遂げて、社会的地位や名声などを得ること。<br>
  （goo辞書）</p><br>
  
  </div>
  <br>
  <span class='teach'>あなたの哲学を教えてください</span><br>
  <div class="create-title">
    <a href="/success_titles/new">新たなお題で哲学する</a>
  </div>
  <br>
  <div class="titles">
    <% @titles.each do |title| %>
      <div class="title">
        <div class="title-name">
          <%= link_to title.title, success_title_success_comments_path(title), class: "title-title" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
